<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="closeModal">&times;</span>
  <img class="modal-content" id="modalImg">
  <div id="modalCaption"></div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
  const scrollToTopButton = document.getElementById('js-top');
  const mainbody = document.getElementById('main')
    const scrollFunc = () => {
    // Get the current scroll value
    let y = mainbody.scrollTop;
    if (y > 200) {
      scrollToTopButton.className = "btn-scroll-to-top topshow";
    } else {
      scrollToTopButton.className = "btn-scroll-to-top tophide";
    }
  };
  mainbody.addEventListener('scroll', scrollFunc);
  const scrollToTop = () => {
    // Let's set a variable for the number of pixels we are from the top of the document.
    const c = mainbody.scrollTop;
    if (c > 0) {
      window.requestAnimationFrame(scrollToTop);
      mainbody.scrollTo(0, c - c / 10);
    }
  };
  
  // When the button is clicked, run our ScrolltoTop function above!
  scrollToTopButton.onclick = function(e) {
    e.preventDefault();
    scrollToTop();
  }
  
  // Nav bar media query
  navcol = document.getElementById('navid');
  toggler = document.getElementById('toggler');
  socials = document.getElementById('social')
  var mediaq = window.matchMedia("(max-width: 600px)")
  function removeBlock(mediaq) {
    if (mediaq.matches) { // If media query matches
      // toggler.removeAttribute('style');
      toggler.style.display = "block";
      navcol.style.display = "none";
      socials.setAttribute('style', 'display: none;');
      scrollToTopButton.removeAttribute('style');
      hamburger()
    } else {
      toggler.setAttribute('style', 'display: none;')
      navcol.removeAttribute('style');
      scrollToTopButton.setAttribute('style', 'display: block;')
      socials.removeAttribute('style');
    }
  }
  
  removeBlock(mediaq)
  mediaq.addListener(removeBlock)
  
  
  
  //Hamburger Toggle
  function hamburger(){
    toggler.onclick = function(event) {
      event.stopPropagation()
      showMenu = !showMenu;
      if (showMenu === true){
        navcol.removeAttribute('style');
      } else {
        navcol.style.display = "none"
      }
      toggler.innerHTML = buttonStates[toggler.innerHTML]
    }
    showMenu = false;
  
    buttonStates = {
      '<i class="fas fa-bars"></i> MENU' : '<i class="fas fa-times"></i> MENU',
      '<i class="fas fa-times"></i> MENU' : '<i class="fas fa-bars"></i> MENU'
    }
  
    //Closing Hamburger Outside Menu
    document.addEventListener('click', function(event){
      if (!event.target.contains(navcol) && showMenu && event.target != toggler){
        navcol.style.display = "none";
        toggler.innerHTML = buttonStates[toggler.innerHTML]
        showMenu = false
      }
    })
    
  }
    // Image Click Modal
    var modal = document.getElementById("myModal");

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementsByClassName("enableModal");
    var modalImg = document.getElementById("modalImg");
    var captionText = document.getElementById("modalCaption");


    for (let i=0; i<img.length; i++){
        elem = img[i];
        elem.addEventListener('click', (e)=>{
            console.log(e.target.src)
            modal.style.display = "block";
            modalImg.src = e.target.src;
            captionText.innerHTML = e.target.alt;
        })
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("closeModal")[0];

    console.log(span)

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() { 
    modal.style.display = "none";
    }
  });
  </script>